html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading {
  color: teal;
  font-size: 50px;
  margin-bottom: 0;
}

.subtitle {
  color: grey;
  font-size: 18px;
  margin-bottom: 100px;
}

input {
  width: 100%;
  font-size: 20px;
  border: slategrey 1px solid;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
  color: teal;
}

input::placeholder {
  color: slategrey
}

button {
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  border: teal 1px solid;
  color: teal;
  border-radius: 40px;
  padding: 15px 50px;
}

button:hover {
  background-color: teal;
  color: white;
}

#answer-page {
  max-width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-header {
  background-color: transparent;
  margin-top: 0;
  color: grey;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: rgb(102, 132, 165) 1px solid;
}

#question { 
  margin-top: 100px;
  max-width: 60%;
  margin-left: auto;
  text-align: left;
  background-color: grey;
  border: lightgrey 1px solid;
  border-radius: 25px;
  color: white;
  padding: 10px 15px;
}

#answer {
  max-width: 60%;
  text-align: left;
  margin-right: auto;
  background-color: teal;
  border: teal 1px solid;
  border-radius: 25px;
  color: white;
  padding: 10px 15px;
  margin-bottom: 3px;
}

#answer-decor {
  margin-top: 0px;
  margin-right: auto;
  text-align: left;
  color: grey;
  padding: 0px 15px;
  font-size: 13px;
}

#dialog-box {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  border: rgb(102, 132, 165) 1px solid;
  padding-top: 0;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
}

#dialog-body {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#answer-page .heading {
  font-size: 35px;
}

#answer-page input {
  width: 100%;
  font-size: 16px;
  border: slategrey 1px solid;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: left;
  color: teal;
  box-sizing: border-box;
}

#answer-page button {
  font-size: 15px;
}

@media screen and (max-width:900px) {

  .heading {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 50px;
  }

  #homepage {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  input {
    margin: 0px 20px;
    width: 85%;
    font-size: 15px;
    margin-bottom: 20px;
  }

  button {
    font-size: 16px;
  }

  #answer-page {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #answer-page .heading {
    font-size: 28px;
  }

  #answer-page input {
    width: 100%;
    border: slategrey 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-align: left;
    color: teal;
    margin-left: 0;
    margin-right: 0;
  }

  .container{
    width:100%;
 }
}