body {
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading {
  color: teal;
  font-size: 50px;
  margin-bottom: 0;

}

.subtitle {
  color: grey;
  font-size: 18px;
  margin-bottom: 50px;
}

input {
  width: 100%;
  font-size: 20px;
  border: slategrey 1px solid;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
  color: teal;
}

input::placeholder {
  text-align: center;
  color: slategrey
}

button {
  text-align: center;
  font-size: 25px;
  background-color: transparent;
  border: teal 1px solid;
  color: teal;
  border-radius: 40px;
  padding: 15px 50px;
}

button:hover {
  background-color: teal;
  color: white;
}

#answer-page {
  width: 400px;
  display: flex;
  flex-direction: column;
}

#question {
  margin-top: 30px;
  max-width: 60%;
  text-align: left;
  margin-right: auto;
  background-color: teal;
  border: teal 1px solid;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
}

#answer {
  max-width: 60%;
  margin-left: auto;
  text-align: left;
  margin-right: 20px;
  background-color: grey;
  border: lightgrey 1px solid;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
}

#answer-header {
  background-color: darkslategray;
  margin-top: 0;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;
}

#dialog-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: darkslategray 1px solid;
  padding-top: 0;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
}